body{
    background-color: grey;
}

#encabezado{
    background-color: white;
    font-weight:bold; 
    padding:15px;
}
#enlace{
    color: black;
    text-align: center;
    text-decoration: none;

}
#foto {
    height: 500px;
    width: 100%;
    float:left;
   }
#parte1{
 width: 30%;
 float: right;
 text-align: center;
 font-size: large;
 background-color: aqua;   
 height: auto;
}
#parte1 > ul > li {
    list-style: none;
    text-align:left;
    
}

a{
    color: black;
    text-decoration:underline;
    text-align: center;
}
#parte3{
    text-align: center;
    background-color:fuchsia;
    padding: 30px;
}
#colorsalir {
    color: white;
    text-decoration:none;
}
#texto{
    background-color: white;
    width: 70%;
    float: left;
}

